<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>诊断信息</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/web-bin/resources/weui/weui.min.css">
    <link rel="stylesheet" href="/web-bin/resources/weui/jquery-weui.css">
    <link rel="stylesheet" href="/web-bin/resources/css/basicMobile.css">
    <link rel="stylesheet" href="/web-bin/weChat/weChatPublic/css/feeMessage/diagnoseMsg.css">
</head>
<body>
    <div class="wrapper">
        <ul class="msg_box">
            <li>诊断名称：<span>高血压</span></li>
            <li>诊断分类：<span>高血压</span></li>
            <li>
                <div class="describle_title">诊断描述：</div>
                <div class="describle">敖德萨机会大家说的卡上的很快就暗示的吉安市大咖和斯柯达是</div>
            </li>
        </ul>
    </div>
    <div class="foot_diafnose">以上数据仅供参考，具体以医院纸质报告为准</div>
<script type="text/javascript" src="/web-bin/resources/jquery/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/web-bin/resources/config/config.js"></script>
<script type="text/javascript" src="/web-bin/resources/jTemplates/jquery-jtemplates.js"></script>
<script type="text/javascript" src="/web-bin/resources/js/jquery.nicescroll.js"></script>
<script type="text/javascript" src="/web-bin/resources/weui/fastclick.js"></script>
<!--解决ios下click的300ms的延迟，需引入fastclick-->
<script>
    $(function() {
        FastClick.attach(document.body);
    });
</script>
</body>
</html>