<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>费用信息</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/web-bin/resources/weui/weui.min.css">
    <link rel="stylesheet" href="/web-bin/resources/weui/jquery-weui.css">
    <link rel="stylesheet" href="/web-bin/resources/css/basicMobile.css">
    <link rel="stylesheet" href="/web-bin/weChat/weChatPublic/css/feeMessage/feeMsg.css">
</head>
<body>
<div id="noDataBox">
    <div id="none">
        <img src="/web-bin/resources/images/nodata2x.png">
        <p>暂无数据</p>
    </div>
</div>
    <div class="wrapper">
        <!--<div class="fee_title">
            <div class="fee_top">
                <img src="/web-bin/weChat/weChatPublic/img/feeMedic.png" alt="">
                <span>医保类型：浙江医保</span>
            </div>
            <div class="fee_box">
                <ul class="fee_detail">
                    <li>
                        <div>医保报销费用：</div>
                        <span>388</span>元
                    </li>
                    <li>
                        <div>预交金：</div>
                        <span>388</span>元
                    </li>
                    <li>
                        <div>个人现金支付：</div>
                        <span>388</span>元
                    </li>
                    <li>
                        <div>余额：</div>
                        <span>388</span>元
                    </li>
                </ul>
            </div>
        </div>-->
        <div class="msg_wrapper">
            <ul>
                <!--<li>
                    <span>2017-2-15</span>
                    <div class="gray_arrow"></div>
                    <div class="money">
                        <span>82</span>元
                    </div>
                </li>-->
            </ul>
        </div>
    </div>
<script type="text/javascript" src="/web-bin/resources/jquery/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/web-bin/resources/config/config.js"></script>
<script type="text/javascript" src="/web-bin/resources/jTemplates/jquery-jtemplates.js"></script>
<script type="text/javascript" src="/web-bin/resources/js/jquery.nicescroll.js"></script>
<script type="text/javascript" src="/web-bin/resources/weui/fastclick.js"></script>
<script type="text/javascript" src="/web-bin/weChat/weChatPublic/js/feeMessage/feeMsg.js"></script>
<!--解决ios下click的300ms的延迟，需引入fastclick-->
<script>
    $(function() {
        FastClick.attach(document.body);
    });
</script>
</body>
</html>