*{margin:0;padding:0;outline:none;}
img{border:0}
ul{list-style: none;}
input{border:none;}
input[type="text"],input[type="password"]{box-sizing: border-box;-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    user-select: none;
    outline: none;}
input[disabled="disabled"]{background-color: #FFFFFF;-webkit-appearance: none}
textarea{overflow:auto;resize:none;color:#3B3B3B;border: 0;padding:2px 5px 2px 5px;box-sizing: border-box;font-size: 12px;}
i{font-style: normal;}
html,body{
    height:100%;
    background-color: #F4F4F4;
    font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    font-size: 13px;
    -webkit-overflow-scrolling:touch;
    overflow-scrolling: touch;
    -webkit-tap-highlight-color:rgba(0,0,0,0)
}
/*清浮动*/
.clearfix:after{
    content:"";
    display:block;
    clear:both;
}
.must {color:#D0021B;position: relative;top: 4px;}
.substr {white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.loaders{
    width:20px;
    height:20px;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    z-index:5000;
}
/*缺省页样式*/
#none {
    width:180px;
    height:170px;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    margin: auto;
    text-align:center;
}
#none img {
    width:100%;
}
#none p {
    color:#888;
    font-size:16px;
}
/*搜索样式*/
.search_box{
    background-color: #fff;
    overflow: hidden;
    padding-right: 10px;
    box-sizing: border-box;
}
.search_input{
    width:84%;
    height:34px;
    border-radius:4px;
    margin:10px 0 10px 10px;
    position:relative;
    font-size:14px;
    background:#fff;
    border:1px solid #D9D9D9;
    float: left;
    overflow: hidden;
}
.searchInput {
    width:100%;
    height:100%;
    padding-left:30px;
    padding-right: 15px;
    box-sizing:border-box;
    border:0;
    outline:none;
    line-height:34px;
    font-size:14px;
    color:#333333;
}
.search_input_css{
    width:97%;
    height:34px;
    border-radius:4px;
    margin:10px 0 10px 10px;
    position:relative;
    font-size:14px;
    background:#fff;
    border:1px solid #D9D9D9;
    float: left;
    overflow: hidden;
}
.css_search{
    width:100%;
    height:100%;
    padding-left:30px;
    padding-right: 15px;
    box-sizing:border-box;
    border:0;
    outline:none;
    line-height:35px;
    font-size:14px;
    color:#949499;
}
.search_sm_img {
    width: 13px;
    height: 13px;
    background: url(../images/serach_flowup.png) no-repeat;
    background-size: 100%;
    margin-right: 10px;
    position:absolute;
    left:10px;
    top:11px;
}
.cancle,.search_follow {
    height:100%;
    line-height: 56px;
    border:0;
    outline:none;
    color:#3C9EFA;
    font-size:15px;
    float: right;
}
.search_follow{
    display:none;
}
.show_more{
    width:100%;
    height:17px;
    background-color: #fff;
    text-align:center;
    position: absolute;
    left:0;
    bottom:0;
    z-index: 100000;
}
.show_more:after{
    content:"";
    display:block;
    clear:both;
}
.show_more_box{
    width:90px;
    margin:0 auto;
}
/*灰色箭头*/
.gray_arrow{
    width:9px;
    height:14px;
    float: right;
    background: url(../images/gray_arrow2x.png) no-repeat;
    background-size: 100% 100%;
}
.query_box{
    width:100%;
    height:100%;
    background-color: #3C9EFA;
    border-radius: 5px;
    color:#ffffff;
    font-size: 18px;
    text-align: center;
    line-height: 43px;
}
.foot{
    width:100%;
    height:63px;
    padding: 10px 20px 10px 20px;
    box-sizing: border-box;
    position: fixed;
    bottom:0;
    left:0;
}
.bg_change_table{width:100%;border-collapse: collapse;background-color: #ffffff}
.bg_change_table tr{border-bottom: 1px solid #E1E1E1;height:32px;text-align: center;box-sizing: border-box}
.bg_change_table tr td,.bg_change_table tr th{padding-left:6px}
.bg_change_table tr:last-child{
    border: 0;
}
#noDataBox{
    width: 100%;
    height:100%;
    background-color: #fff;
    position: absolute;
    top:0;
    left:0;
    z-index: 10;
    display:none;
}
#loaders_box{
    width: 100%;
    height:100%;
    background:#000;
    opacity: 0.8;
    position: absolute;
    top:0;
    left:0;
    z-index: 10000;
}
/*列表*/
.list-content > div {
    height: 45px;
    padding: 10px 16px;
    box-sizing: border-box;
    border-top: 1px solid #EBEBEB;
    font-size: 18px;
    line-height: 25px;
    background-color: #fff;
}
.color-primary {
    color: #4A90E2 !important;
}
.color-warning {
    color: #ec8301;
}
.color-success {
    color: #8BB949;
}
.color-danger {
    color: #D0021B;
}
/*选中*/
input[type="radio"] + label::before {
    content: "\a0"; /*不换行空格*/
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    width: 0.8em;
    height: 0.8em;
    margin-right: .4em;
    border-radius: 50%;
    border: 1px solid #3C9EFA;
    text-indent: .15em;
    line-height: 1;
    padding: .2em;
}

input[type="radio"]:checked + label::before {
    background-color: #3C9EFA;
    background-clip: content-box;
    padding: .2em;
}
input[type="radio"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}
/*列表*/
.list-content > div {
    height: 45px;
    padding: 10px 16px;
    box-sizing: border-box;
    border-top: 1px solid #EBEBEB;
    font-size: 18px;
    line-height: 25px;
    background-color: #fff;
}
.color-primary {
    color: #4A90E2;
}
.color-warning {
    color: #ec8301;
}
.color-success {
    color: #8BB949;
}
.color-danger {
    color: #D0021B;
}