/*基础样式*/
*{margin:0;padding:0;outline:none}
img{border:0}
ul{list-style: none;}
a{text-decoration: none;font-family: "Microsoft YaHei","微软雅黑";color:#222;}
input[type="text"],input[type="password"]{font-family: "Microsoft YaHei","微软雅黑";font-size:12px;color:#222;border:1px solid #D8D8D8 !important;padding: 3px 5px 3px 5px;box-sizing: border-box;height: 24px;}
input[disabled="disabled"]{background-color: #FFFFFF;}
textarea{overflow:auto;resize:none;font-family: "Microsoft YaHei","微软雅黑";color:#222;border:1px solid #D8D8D8 !important;box-sizing: border-box;padding:2px 5px 2px 5px;font-size: 12px;}
body{font-size: 12px;font-family: "Microsoft YaHei","微软雅黑";color:#222;overflow: hidden;background-color: #F6F7FB;}
button{font-family: "Microsoft YaHei","微软雅黑";font-size:12px;border:none;color:#FFFFFF;}
/* 浮动样式 */
.pull_left{float: left !important;}
.pull_right{float: right !important;}
/* 操作按钮样式--高亮 *//*flat_-高度扁的*//*low_-浅色的*/
.basic_buttons{padding: 8px 5px 3px 8px;text-align:center;}
.blue_highlight,.gray_highlight,.green_highlight,.low_blue_highlight,.low_gray_highlight,.red_highlight{width: 90px;cursor: pointer;margin-left: 10px;border-radius: 3px;height: 30px;line-height: 30px;color:#FFFFFF;text-align:center;}
.flat_blue_highlight{width: 64px;cursor: pointer;margin-left: 10px;border-radius: 3px;height: 22px;line-height: 22px;color:#FFFFFF;text-align:center;margin-top:1px}
.flat_gray_highlight  {width: 64px;cursor: pointer;margin-left: 5px;border-radius: 3px;line-height: 22px;color: #222;text-align: center;margin-top: 1px }
.flat_gray_highlight:hover {background-color: #b5c5d1 !important;  }
.white_highlight{width: 90px;cursor: pointer;margin-left: 10px;border-radius: 3px;height: 22px;line-height: 20px;background-color: #FFFFFF;color:#00A2F4;text-align:center;border:1px solid #00A2F4;box-sizing: border-box;}
.blue_highlight,.flat_blue_highlight{background-color: #00A2F4 !important;}
.blue_highlight:hover,.flat_blue_highlight:hover{background-color: #2b84c9 !important;}
.gray_highlight{background-color: #B5B5B5 !important;}
.gray_highlight:hover{background-color: #878787 !important;}
.low_gray_highlight{background-color: #E3E8EC !important;color:#222;border:1px solid #696969;box-sizing: border-box;line-height:28px;}
.low_gray_highlight:hover{background-color: #00A2F4 !important;border:0;color:#FFFFFF;line-height:30px;}
.green_highlight{background-color:#64AF31;}
.green_highlight:hover{background-color:#5e9131 !important;}
.low_blue_highlight{background-color:#6AB7F2;}
.low_blue_highlight:hover{background-color:#00A2F4 !important;}
.white_highlight:hover{background-color:#EEEEEE !important;}
.red_highlight{background-color: #FE7474; !important;}
.red_highlight:hover{background-color: #dd6758; !important;}
.red_delete_btn{background: #e75757;width: 50px;height:22px;line-height: 22px;text-align: center;color:#fff;border-radius: 3px;cursor: pointer;}
.red_delete_btn:hover{background: #d42a2a;}
/* 表格样式 */
.bg_change_table{border-collapse: collapse;}
.bg_change_table tr{border: 1px solid #E1E1E1;height:32px;}
.bg_change_table tr:FIRST-CHILD{background-color:#FFFFFF !important;}
.bg_change_table tr td,.bg_change_table tr th{padding-left:6px;}
.bg_change_table .bg_class_odd{background-color:#FFFFFF;}
.bg_change_table .bg_class_even{background-color:#F8F8F8;}
.bg_change_table .bg_class_odd:hover,.bg_change_table .bg_class_even:hover{background-color:#c6e2fa;}
/* 页面信息标题样式 */
.p_head_icon1{width: 41px;height: 30px;position: absolute;right: -35px;}
.p_head_icon2{width: 4px;height: 4px;position: absolute;left: 0px;bottom: -4px;}
.p_head_title1,.p_head_title2{height: 30px;position: relative;top: 10px;left: -4px;color: #FFFFFF;line-height: 30px;font-size: 14px;display:inline-block;}
/**绿色标题**/
.p_head_title1{background-color: #64AF31;}
.p_head_title1 .p_head_icon1{background-position:-22px -664px;}
.p_head_title1 .p_head_icon2{background-position:-24px -721px;}
.p_head_title1 p,.p_head_title2 p{position:relative;left:14px;padding-right:10px;}
/**蓝色标题**/
.p_head_title2{background-color: #00A2F4;}
.p_head_title2 .p_head_icon1{background-position:-59px -664px;}
.p_head_title2 .p_head_icon2{background-position:-64px -721px;}
/* 小模块标题样式 */
.content_title{height: 36px;border: 1px solid #E1E1E1;border-bottom:0;background-color:#E2E8EC;position: relative;width: 100%;box-sizing: border-box;}
.content_title .bTitle_text{font-size: 14px;float:left;margin-top:8px;margin-left:10px;}
.content_title .oper_box{float:right;margin-top:5px;margin-right:10px;}
/* a标签字体颜色 */
.color_blue{color:#00A1F6;}
.color_red{color:#ff7878;}
.a_color1 {color: #0175ce;}
.a_color1:hover{color:#f86f00;}
/* 按钮背景颜色 */
.btn_bg1{background-color:#00A2F4;/*蓝色*/}
.btn_bg1:hover{background-color: #2b84c9 !important;}
.btn_bg2{background-color:#64AF31;/*绿色*/}
.btn_bg2:hover{background-color:#5e9131 !important;}
.btn_bg3{background-color:#4E9713;/*深绿色*/}
.btn_bg3:hover{background-color:#497e18 !important;}
.btn_bg4{background-color:#bbccd6;/*灰色*/}
.btn_bg4:hover{background-color:#b5c5d1;}
.btn_bg5{background-color:#ddd;/*真-灰色*/}
.btn_bg5:hover{background-color:#ccc;}
.btn_bg6{background-color:#D8E9C8;/*浅绿色*/}
.btn_bg6:hover{background-color:#BAD99E !important;}
/*灰色背景*/
.gray_background {background-color: #EEEEEE; }
/*自动随访、自动筛选图标*/
.filter_followup_icons {  display: inline-block; padding-top: 1px;  }
.filter-icon,
.followup-icon {  background-color: #9ac873;  border: 1px solid #7fab5b;  border-radius: 2px;  color: #fff;  float: left;  font-size: 12px;  height: 16px;  width: 16px;  line-height: 14px;  padding-left: 1px;  box-sizing: border-box;  margin-left: 6px;  position: relative;  top: 2px;  }
.followup-icon {  background-color: #769bef;  border: 1px solid #5378cc;  }
/* 其余样式 */
.border_radius3{border-radius:3px;}
.substr {white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.must{color:#FF0000;font-weight: bold;padding-left:4px;position:relative;top:2px;}
/****************************************************图标的所有样式******************************************************/
/* 公用图标集 */
.design_icon{background-image:url(../images/designIcon.png);background-repeat:no-repeat;}
/* 选择选择按钮样式 */
/* 单选多选 */
.r_unchecked{background-position:-183px -411px;width: 12px;height: 12px;}
.r_checked{background-position:-142px -411px;width: 12px;height: 12px;}
.sc_unchecked{background-position:-103px -442px;width:15px;height:14px;}
.sc_checked{width:15px;height:14px;background-position:-67px -442px;}
.sc_checked_gray {width:15px;height:14px;background-position: -24px -533px;}
.sc_unchecked_gray {width:15px;height:14px;background-position: -50px -533px;}
/* 添加删除 */
.creat_white_medium {background-position: -447px -580px;width: 16px;height: 16px;}
.create_blue_medium {background-position: -327px -580px;width: 16px;height: 16px;}
.creat_white_small {background-position: -528px -581px;width: 14px;height: 14px;}
.creat_white_tiny{background-position: -572px -582px;width: 14px;height: 12px;}
.delete_white_big {background-position: -246px -619px;width: 15px;height: 15px;}
.creat_green_small{background-position: -489px -581px;width: 14px;height: 14px;}
.delete_white_medium {background-position: -287px -620px;width: 14px;height: 14px;}
.delete_red_medium {background-position: -367px -620px;width:14px;height:14px;}
.delete_white_small{background-position: -449px -621px;width:12px;height:11px;}
.delete_red_circle{background-position: -508px -157px;width:20px;height:20px;}
.delete_blue_small{background-position: -408px -621px;width:12px;height:11px;}
.delete_gray_small{background-position: -471px -621px;width:12px;height:11px;}
.delete_red_small{background-position: -427px -621px;width:12px;height:11px;}
.delete_blue_big{background-position: -326px -619px;width:16px;height:16px;}
/* 上锁 */
.unlocked_gray {background-position: -389px -701px;width:11px;height:11px;}
.locked_gray {background-position: -271px -701px;width:10px;height:11px;}
.locked_red {background-position: -332px -701px;width:10px;height:11px;}
.unlocked_blue {background-position: -372px -701px;width:11px;height:11px;}
.locked_blue {background-position: -250px -701px;width:10px;height:11px;}
.unlocked_white {background-position: -413px -701px;width:12px;height:12px;}
.locked_white {background-position: -291px -701px;width:12px;height:12px;}
.unlocked_blue_big {background-position: -206px -411px;width:15px;height:16px;}
.locked_blue_big {background-position: -206px -437px;width:12px;height:16px;}
/* 播放 */
.play_blue {background-position: -68px -574px;width:20px;height:21px;}
.stop_blue {background-position: -24px -574px;width:20px;height:21px;}
/* 导入 */
.loadinperson_white {background-position: -24px -619px;width: 16px;height: 16px;}
.loadin_white {background-position: -68px -618px;width: 17px;height: 16px;}
/* 模拟树结构显示隐藏 */
.hide_blue {background-position: -157px -579px;height: 12px;width: 13px;}
.show_blue {background-position: -114px -579px;height: 12px;width: 13px;}
/*投诉表扬右侧栏*/
.item_type_complaint,.item_type_praise{width:92px;height:25px;}
.item_type_complaint{background-position:-804px -26px;}
.item_type_praise{background-position:-804px -83px;}
/*知识库-右侧列表操作背景图*/
.bar_blue_left{background-position: -375px -122px;width: 60px;height: 25px;}
.bar_orange_left{background-position: -819px -55px;width: 60px;height: 25px;}
/*提醒*/
.remind_blue{background-position: -343px -488px;width: 59px;height: 47px;}
/*操作步骤箭头*/
.step_arrow_right{background-position: -556px -91px;width: 9px;height: 24px;}
/* pen */
.pen_blue_big {background-position: -287px -661px;width: 14px;height: 16px;}
.pen_blue_small{background-position: -370px -664px;width:10px;height: 11px;}
.pen_gray_small{background-position: -429px -664px;width:10px;height: 11px;}
.pen_green_big {background-position: -247px -661px;width: 14px;height: 16px;}
.pen_white_big {background-position: -328px -661px;width: 14px;height: 16px;}
.pen_white_small {background-position: -450px -664px;width: 10px;height: 11px;}
.pen_green_circle{background-position: -508px -125px;width:20px;height:20px;}
/*打钩*/
.tick_white_big{background-position: -108px -532px;width:20px;height:16px;}
.circle_tice_white{background-position: -669px -145px;width:14px;height:14px;}
/*进度条*/
.progress_green_circle{background-position: -399px -87px;width:16px;height:16px;}
.progress_green_circle_big{background-position: -555px -212px;width:20px;height:20px;}
.progress_pink_circle{background-position: -447px -87px;width:16px;height:16px;}
.progress_gray_circle{background-position: -500px -87px;width:16px;height:16px;}
.progress_gray_circle_small{background-position: -583px -144px;width:10px;height:10px;}
.progress_white_circle_small{background-position: -583px -129px;width:10px;height:10px;}
.progress_blue_circle_small{background-position: -583px -159px;width:10px;height:10px;}
/*半圆*/
.progress_left_green_radius{background-position: -454px -121px;width:5px;height:10px;}
.progress_right_gray_radius{background-position: -535px -90px;width:5px;height:10px;}
.left_blue_radius{background-position: -445px -170px;width:12px;height:24px;}
.right_blue_radius{background-position: -457px -170px;width:12px;height:24px;}
/*随访主题图标*/
.theme_blue_big{background-position: -542px -10px;width:61px;height:54px;}
.theme_blue_small{background-position: -595px -88px;width:34px;height:30px;}
/*表单主题图标*/
.form_blue_icon{background-position: -274px -488px;width:59px;height:47px;}
.form_blue_icon_small{background-position: -887px -261px;width:37px;height:30px;}
/*宣教主题图标*/
.education_blue_big{background-position:-816px -300px;width:68px;height: 56px;}
.education_blue_small{background-position:-845px -260px;width:39px;height: 32px;}
/* 是否认证 */
.authorized_blue_small {background-position: -152px -621px;width:10px;height:12px;}
.unauthorized_blue_small {background-position: -116px -621px;width:10px;height:12px;}
/*问号*/
.question_blue{background-position: -541px -127px;width:17px;height:17px;}
/*绿色空心圆大点的*/
.circle_green{background-position: -555px -212px;width: 21px;height:21px;}
/*三角形箭头图标*/
.arrow_gray_right{background-position: -73px -410px;width:6px;height:12px}
.arrow_gray_bottom{background-position: -104px -413px;width:12px;height:6px}
.arrow_blue_left{background-position: -73px -347px;width:6px;height:12px}
.arrow_blue_right{background-position: -107px -347px;width:6px;height:12px}
.arrow_blue_bottom{background-position: -70px -382px;width:12px;height:6px}
.arrow_blue_top{background-position: -104px -382px;width:12px;height:6px}
.arrow_white_bottom{background-position: -180px -540px;width:12px;height:6px}
.arrow_blue_bottom_doubble{background-position: -140px -444px;width:16px;height:10px}
.arrow_blue_up_doubble{background-position: -180px -443px;width:16px;height:10px}
/*拆分*/
.split_icon{background-position: -259px -466px;width:15px;height:14px}
/*纸飞机*/
.paperPlane_green {background-position: -587px -185px;width:14px;height:14px}
.paperPlane_white{background-position: -614px -185px;width:14px;height:14px}/* 发送 */
/*手机图标*/
.phone_blue_small{background-position: -672px -185px;width:10px;height:14px}
.phone_gray_small{background-position: -728px -185px;width:10px;height:14px}
.icon_phone_green{background-position:-727px -228px;height:18px;width: 11px;}/*绿色手机图标*/
.mobile_white_big {background-position: -376px -461px;width: 11px;height: 18px;}/* 手机 */
/* 电话 */
.phone_white_oblique {background-position: -348px -461px;width: 17px;height: 18px;}
.phone_white_horizontal {background-position: -314px -468px;width: 21px;height: 8px;}
.icon_tel_green{background-position:-612px -229px;width: 17px;height:17px;}/*绿色电话图标*/
/* 短信 */
.icon_email_green{background-position:-667px -230px;width: 19px;height:14px;}/*绿色短信图标*/
.message_white {background-position: -399px -463px;width: 18px;height: 14px;}
/* excel导入导出 */
.export_blue{background-position: -778px -183px;width: 21px;height: 15px;}
.import_blue{background-position: -610px -145px;width: 21px;height: 15px;}
/* 眼睛 */
.eye_blue {background-position: -159px -469px;width: 21px;height: 12px;}
.eye_green {background-position: -190px -469px;width: 21px;height: 12px;}
.eye_orange {background-position: -223px -469px;width: 23px;height: 13px;}
.eye_white {background-position: -519px -520px;width: 23px;height: 13px;}
/*下载*/
.download_white{background-position: -68px -618px;width: 18px;height:19px;}
/* 关闭 */
.close_gray_big {background-position: -211px -336px;width: 14px;height: 14px;}
.close_gray_small {background-position: -170px -380px;width: 10px;height: 10px;}
.close_white_small {background-position: -143px -380px;width: 10px;height: 10px;}
/*结案*/
.finish_green{background-position: -476px -125px;width: 27px;height: 22px;}
/*时钟*/
.clock_blue{background-position: -99px -469px;width: 12px;height: 12px;}
/*分享*/
.share_blue{background-position: -67px -469px;width: 9px;height: 11px;}
.share_gray{background-position: -51px -469px;width: 9px;height: 11px;}
/*升级*/
.upgrade_white{background-position: -138px -469px;width: 10px;height: 12px;}
/* 照片（男、女） */
.photo_men {background-position: -465px -638px;width: 94px;height: 102px;}
.photo_woman {background-position: -560px -638px;width: 94px;height: 102px;}
.man_image{background-position: -580px -232px;width: 24px;height: 29px;}
.woman_image{background-position: -580px -266px;width: 24px;height: 29px;}
/* 其他 */
.poshytip_white {background-position: -484px -424px;width: 220px;height: 55px;}
.filter_white {background-position: -726px -145px;width: 13px;height: 14px;}
.return_green {background-position: -563px -185px;width:16px;height:14px}
/*绿色标签尾部*/
.greenTab_left{background-position: -109px -664px;width:18px;height:33px;}
/*橘红色标签*/
.tabRed{background-position: -475px -157px;width:19px;height:20px;}
/*批量分组*/
.batch_groups{background-position: -838px -183px;width: 15px;height: 14px;}
/*放大镜白色*/
.search_big{background-position: -781px -145px;width: 14px;height: 14px;}
/*块状视图,条状视图*/
.four_block{background-position: -889px -143px;width:21px;height:20px}
.three_line{background-position: -889px -180px;width:21px;height:20px}
.four_block_unclick{background-position: -862px -143px;width:21px;height:20px}
.three_line_click{background-position: -862px -180px;width:21px;height:20px}
/*白色背景绿色左右半圆*/
.green_circle_left1{width:13px;height: 26px;background-position:-149px -548px;}
.green_circle_right1{width:13px;height: 26px;background-position:-163px -548px;}
/*灰色背景绿色左右半圆*/
.green_circle_left{width:13px;height: 26px;background-position:-149px -506px;}
.green_circle_right{width:13px;height: 26px;background-position:-163px -506px;}
/* 锦旗 */
.flag_blue {background-position: -194px -63px;width:20px;height:22px}
/* 齿轮 */
.wheel_white {background-position: -195px -98px;width:18px;height:18px}
/*蓝色三角形*/
.triangle_blue{width:18px;height: 18px;background-position:-601px -493px;}
.triangle_small_blue{width:9px;height: 9px;background-position:-283px -544px;}
/*白色蓝底圆形加按钮*/
.add_circel_white{width:18px;height: 18px;background-position:-576px -492px;}
/*白色蓝底圆形减按钮*/
.subtraction_circel_white{width:18px;height: 18px;background-position:-622px -492px;}
/* 开启状态（圆圈） */
.open_circel_green {width:10px;height: 10px;background-position:-700px -125px;}
.close_circel_red {width:10px;height: 10px;background-position:-716px -125px;}
/*柱状图底座*/
.histogram_bottom{ background-position: -135px -650px;width:60px;height:50px;}
.histogram_bottom_small{ background-position: -623px -543px;width:50px;height:70px;}
/*上下排序按钮*/
.sort_blue{ background-position: -646px -492px;width:17px;height:17px;}
.sort_white{ background-position: -646px -516px;width:17px;height:17px;}
.sort_up_blue{ background-position: -577px -516px;width:17px;height:17px;}
.sort_down_blue{ background-position: -592px -517px;width:17px;height:17px;}
/*更新白色按钮*/
.fresh_white{ background-position: -666px -491px;width:17px;height:17px;}
/*蓝色移动按钮*/
.move_blue{ background-position: -493px -517px;width: 18px;height: 18px;}
/*圆形绿底打勾*/
.tick_circel_green{ background-position: -547px -514px;;width: 22px;height: 22px;}
/*绿色长矩形*/
.green_rect_long { background-position: -307px -544px;width: 88px;height: 20px;}
/*垃圾桶*/
.green_trash_can { width: 12px;height: 13px;background-position: -390px -663px;}
.white_trash_can { width: 12px;height: 13px;background-position: -390px -683px;}
/* 发送状态 */
.has_result {width: 20px;  height: 20px;background-position: -151px -309px;}
.wrr_finish {width: 20px;  height: 20px;background-position: -99px -309px;}
.hui_finish {width: 20px;  height: 20px;background-position: -203px -309px;}
/*患者档案公用*/
.icon_back{ width: 34px;height: 34px;background-position: -199px -152px;}
.icon_back:hover{background-position: -199px -195px;}
.icon_person1{width: 21px;height: 24px;background-position:-338px -202px;}
.icon_person2{width: 21px;height: 24px;background-position:-370px -202px;}
/* 空心圆 */
.hollow_circle_blue {width: 10px;height: 10px;background-position: -583px -159px;}
.hollow_circle_gray {width: 10px;height: 10px;background-position: -583px -144px;}
/* 大三角形箭头 */
.triangle_left_gray {width: 12px;height: 20px;background-position: -77px -705px;}
.triangle_left_gray_double {width: 15px;height: 20px;background-position: -185px -705px;}
.triangle_left_blue {width: 12px;height: 20px;background-position: -121px -705px;}
.triangle_left_blue_double {width: 15px;height: 20px;background-position: -161px -705px;}
.triangle_right_gray {width: 12px;height: 20px;background-position: -95px -705px;}
.triangle_right_blue {width: 12px;height: 20px;background-position: -139px -705px;}
/*手术*/
.surgery_small{width:20px;height:21px;background-position: -404px -204px;}
/*医嘱*/
.doctor_order{width:22px;height:25px;background-position: -432px -203px;}
/* 书本 */
.book_green {width:18px;height:14px;background-position: -749px -271px;}
/* 微信 */
.we_chat_green {width:17px;height:16px;background-position: -724px -269px;}
.we_chat_gray {width:17px;height:16px;background-position: -724px -289px;}
/* 收案五角星 */
.acceptance_green_icon {width:16px;height:16px;background-position: -774px -269px;}
.acceptance_gray_icon {width:16px;height:16px;background-position: -795px -269px;}
/*死亡标记*/
.die_icon {width: 24px;height: 24px;background-position: -750px -578px;}
/*监测设置 心电图*/
.monitor_white {width: 16px;height: 14px;background-position: -719px -585px;}
/*发送表单*/
.sent_form_green{width:15px;height:16px;background-position: -699px -270px;}
/*推介患者*/
.recommend_green{width:15px;height:16px;background-position: -818px -270px;}
/*共享分组*/
.share_group_green { width: 15px;height: 16px;background-position: -736px -615px;  }
.share_group_write { width: 15px;height: 16px;background-position: -757px -615px;  }
/*随访调研*/
.followup_survey_green{width: 17px;height: 16px;background-position: -749px -288px;}
/*异常表单标志*/
.tab_warning {width: 15px;height: 16px;background-position: 0 0;}
/*满意度异常处理标志*/
.handle_warning {width: 12px;height: 12px;background-position: -33px -2px;}
/*异常表单标志*/
.handle_success {width: 12px;height: 12px;background-position: -18px -2px;}
/*二维码图标*/
.qr_code_small{width:22px;height:22px;background-position: -736px -640px;}