html,body,ul,li,div,a,img,input,p{margin:0;padding:0;}
img{border:0}
ul{list-style: none;}
a{text-decoration: none;}
* {margin: 0 auto;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

.ui-loader-default{ display:none}
.ui-mobile-viewport{ border:none;}
.ui-page {padding: 0; margin: 0; outline: 0}

body {
    font-family:"Microsoft YaHei","微软雅黑",Arial,Simsun,Helvetica,sans-serif;
    background-color:#f4f4f4;
}
body>div {
    min-height:400px !important;
}

#main_head {
    width:100%;
    background-color:white;
    z-index:100;
    margin-bottom:5px;
}
#head_in {
    position:relative;
    padding:5px 0;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    width:100%;
}
#main_head img {
    max-height:18px;
}
#head_left {
    position:relative;
    width:100%;
    padding:3px;
    white-space: nowrap;
}
#head_left>img {
    max-height:38px;
    margin-left:10px;
    height:38px;
    position:relative;
    top:2px;
}
#head_left span {
    font-size:18px;
    font-weight:bold;
    margin-left:12px;
    position:relative;
    top:-10px;
    line-height:18px;
}
#i1 {
    position:absolute;
    right:10px;
    top:7px;
    font-size:14px;
    text-align:center;
    color:#555;
}
.head_right {
    position:absolute;
    right:10px;
    top:15px;
    width:20%;
    z-index:10;
    font-size:14px;
    text-align:center;
    color:#555;
}
.head_right{height:0.6rem;display: block;background-color:#39bcea;color:#fff;line-height:0.6rem;text-align: center;border-radius:0.08rem;}

#main_body {
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    background-color:#fff;
}
.d1 {
    position:relative;
    padding-top:15px;
}
.d1 img {
    position:absolute;
    width:60px;
    top:15px;
    left:15px;
}
.hosp{
    margin-left:90px;
    border-bottom:1px solid #ccc;
    min-height:60px;
    padding-bottom:15px;
}
.visit{
    margin-left:90px;
    border-bottom:1px solid #ccc;
    min-height:60px;
    padding-bottom:15px;
}

.d2>div:last-of-type>div {
    border-bottom:0px solid #ccc;
}


.p1 {
    font-size:15px;
    font-weight:bold;
}
.p2 {
    font-size:14px;
    line-height:16px;
    margin:5px 0;
    width:95%;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
}
.p2 span {
    display:inline-block;
    font-size:14px;
    line-height:20px;
    width:45px;
    text-align:center;
    margin-right:7px;
    color:white;
    border-radius:3px;
}
.s1 {
    background-color:#F88379;
}
.s2 {
    background-color:#46D9BF;
}
.p3 {
    font-size:11px;
    color:#777;
}
#loading {
    position:absolute;
    top:40%;
    width:100%;
    text-align:center;
}
#loading img{
    width:30px;
}
#none {
    position:fixed;
    width:80px;
    height:80px;
    top:50%;
    left:50%;
    margin-top:-40px;
    margin-left:-40px;
    text-align:center;
}
#none img {
    width:80px;
}
#none p {
    color:#888;
    font-size:16px;
}


