<!DOCTYPE html>
<html lang="en">
<head>
    <title>慢病管理招募</title>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/web-bin/weChat/weChatPublic/css/indicatorPage/indicatorPage.css">

    <script type="text/javascript" src="/web-bin/resources/jquery/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/web-bin/resources/js/jquery.fullPage.js"></script>
    <script type="text/javascript" src="/web-bin/weChat/weChatPublic/js/indicatorPage/indicatorPage.js"></script>

    <meta name = "format-detection" content = "telephone=no">
</head>
<body>

<div id="dowebok">
    <div class="section">
        <div class="page01_bg"></div>
        <div class="page01_title"></div>
        <div class="page01_head">  </div>
        <div class="page01_word_zm"></div>
        <div class="page01_word_des"></div>
    </div>

    <div class="section">
        <div class="page02_bg"></div>
        <div class="page01_title"></div>
        <div class="page02_title02"></div>
        <div class="page02_des"></div>
    </div>

    <div class="section">
        <div class="page_demo_bage"></div>
        <div class="page01_title"></div>
        <div class="page03_title"></div>
        <div class="page03_des01"></div>
        <div class="page03_des02"></div>
        <div class="page03_des03"></div>
    </div>

    <div class="section">
        <div class="page_demo_bage"></div>
        <div class="page01_title"></div>
        <div class="page04_title"></div>
        <div class="page04_des01" id="page04_des012"></div>

    </div>

    <div class="section">
        <div class="page_demo_bage"></div>
        <div class="page01_title"></div>
        <div class="page05_title"></div>
        <div class="page05_des01"></div>
        <div class="page05_des02"></div>
        <div class="page05_des03"></div>
    </div>

    <div class="section">
        <div class="page_demo_bage"></div>
        <div class="page01_title"></div>
        <div class="page06_des">
            <div class="my_text"><img width="180px" height="33px" src="/web-bin/weChat/weChatPublic/img/page06_title1.png"></div>
            <div class="my_text">1、天水武林街道社区户籍且已签约天水武林街道社区卫生服务中心的患者</div>
            <div class="my_text">2、高血压病、糖尿病、冠心病患者共150名</div>
            <div class="my_text">3、已明确诊断高血压/糖尿病/冠心病患者，无严重心血管疾病、无严重心理、精神类疾病等</div>
            <div class="my_text">4、能主动交流最佳</div>

            <div class="my_text" style="margin-top:10px"><img width="180px" height="33px" src="/web-bin/weChat/weChatPublic/img/page06_title2.png"></div>
            <div class="my_text">1、血压计、血糖仪、心电监护仪免费试用，足不出户上传监测数据</div>
            <div class="my_text">2、疾病管理师定期推送饮食、运动、心理等健康指导，养成科学健康生活方式</div>
            <div class="my_text">3、疾病管理师精细化慢病管理服务，个性化疾病评估报告与健康干预方案</div>
            <div class="my_text">4、无限次的健康咨询，专业的疾病知识，有效避免突发风险</div>
            <div class="my_text">5、看病流程贴身安排(预约挂号、复诊提醒等)</div>

            <div class="my_text" style="margin-top: 10px"><img width="214px" height="33px"  src="/web-bin/weChat/weChatPublic/img/page06_title3.png"></div>
            <div class="my_text">报名地址：天水武林街道社区卫生服务中心门诊一楼慢病联合门诊(或天水街道胭脂新村社区卫生服务站)</div>
            <div class="my_text">报名电话/微信：18657180036</div>
        </div>
    </div>
</div>
</body>
</html>
