@charset "utf-8";
// Clearfix
@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}
/*清除浮动*/
.clearfix{
  @include clearfix;
}
.clear{
  clear: both;
}