@charset "utf-8";
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?bso1li');
  src:  url('fonts/icomoon.eot?bso1li#iefix') format('embedded-opentype'),
  url('fonts/icomoon.ttf?bso1li') format('truetype'),
  url('fonts/icomoon.woff?bso1li') format('woff'),
  url('fonts/icomoon.svg?bso1li#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icomoon{
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*字体图标*/
.icomoon-bigger:hover{
  font-size: 16px;
  transition: font-size 0.5s;
  -moz-transition: font-size 0.5s; /* Firefox 4 */
  -webkit-transition: font-size 0.5s; /* Safari 和 Chrome */
  -o-transition: font-size 0.5s;
}


/*图标*/
.icomoon-logo-kufu {
  .path1:before {
    content: "\e90b";
    color: rgb(255, 255, 255);
  }
  .path2:before {
    content: "\e90c";
    margin-left: -11.5em;
    color: rgb(139, 185, 73);
  }
  .path3:before {
    content: "\e90d";
    margin-left: -11.5em;
    color: rgb(255, 255, 255);
  }
  .path4:before {
    content: "\e90e";
    margin-left: -11.5em;
    color: rgb(255, 255, 255);
  }
}
.icomoon-logo-yun {
  .path1:before {
    content: "\e90f";
    color: rgb(255, 255, 255);
  }
  .path2:before {
    content: "\e910";
    margin-left: -7.5em;
    color: rgb(139, 185, 73);
  }
  .path3:before {
    content: "\e911";
    margin-left: -7.5em;
    color: rgb(255, 255, 255);
  }
  .path4:before {
    content: "\e912";
    margin-left: -7.5em;
    color: rgb(255, 255, 255);
  }
}

.icomoon-radio-disabled {
  .path1:before {
    content: "\e913";
    color: rgb(238, 238, 238);
  }
  .path2:before {
    content: "\e914";
    margin-left: -1em;
    color: rgb(204, 204, 204);
  }
}
.icomoon-radio-checked-disabled {
  .path1:before {
    content: "\e915";
    color: rgb(238, 238, 238);
  }
  .path2:before {
    content: "\e916";
    margin-left: -1em;
    color: rgb(204, 204, 204);
  }
  .path3:before {
    content: "\e917";
    margin-left: -1em;
    color: rgb(204, 204, 204);
  }
}
.icomoon-checkbox {
  .path1:before {
    content: "\e918";
    color: rgb(238, 238, 238);
  }
  .path2:before {
    content: "\e919";
    margin-left: -1em;
    color: rgb(204, 204, 204);
  }
}
.icomoon-checkbox-checked {
  .path1:before {
    content: "\e91a";
    color: rgb(238, 238, 238);
  }
  .path2:before {
    content: "\e91b";
    margin-left: -1em;
    color: rgb(204, 204, 204);
  }
  .path3:before {
    content: "\e91c";
    margin-left: -1em;
    color: rgb(204, 204, 204);
  }
}
.icomoon-specialist {
  .path1:before {
    content: "\e91d";
    color: rgb(74, 144, 226);
  }
  .path2:before {
    content: "\e91e";
    margin-left: -0.875em;
    color: rgb(139, 185, 73);
  }
  .path3:before {
    content: "\e91f";
    margin-left: -0.875em;
    color: rgb(74, 144, 226);
  }
  .path4:before {
    content: "\e920";
    margin-left: -0.875em;
    color: rgb(74, 144, 226);
  }
  .path5:before {
    content: "\e921";
    margin-left: -0.875em;
    color: rgb(74, 144, 226);
  }
}
.icomoon-management {
  .path1:before {
    content: "\e922";
    color: rgb(74, 144, 226);
  }
  .path2:before {
    content: "\e923";
    margin-left: -0.875em;
    color: rgb(74, 144, 226);
  }
  .path3:before {
    content: "\e924";
    margin-left: -0.875em;
    color: rgb(139, 185, 73);
  }
  .path4:before {
    content: "\e925";
    margin-left: -0.875em;
    color: rgb(139, 185, 73);
  }
}
.icomoon-archives {
  .path1:before {
    content: "\e926";
    color: rgb(74, 144, 226);
  }
  .path2:before {
    content: "\e927";
    margin-left: -0.875em;
    color: rgb(139, 185, 73);
  }
  .path3:before {
    content: "\e928";
    margin-left: -0.875em;
    color: rgb(139, 185, 73);
  }
  .path4:before {
    content: "\e929";
    margin-left: -0.875em;
    color: rgb(74, 144, 226);
  }
  .path5:before {
    content: "\e92a";
    margin-left: -0.875em;
    color: rgb(74, 144, 226);
  }
  .path6:before {
    content: "\e92b";
    margin-left: -0.875em;
    color: rgb(74, 144, 226);
  }
}
.icomoon-returnVisit {
  .path1:before {
    content: "\e92d";
    color: rgb(74, 144, 226);
  }
  .path2:before {
    content: "\e92e";
    margin-left: -0.875em;
    color: rgb(74, 144, 226);
  }
  .path3:before {
    content: "\e92f";
    margin-left: -0.875em;
    color: rgb(139, 185, 73);
  }
}
.icomoon-person {
  .path1:before {
    content: "\e930";
    color: rgb(139, 185, 73);
  }
  .path2:before {
    content: "\e931";
    margin-left: -0.875em;
    color: rgb(74, 144, 226);
  }
}
.icomoon-callOut {
  .path1:before {
    content: "\e932";
    color: rgb(74, 144, 226);
  }
  .path2:before {
    content: "\e933";
    margin-left: -1em;
    color: rgb(74, 144, 226);
  }
  .path3:before {
    content: "\e934";
    margin-left: -1em;
    color: rgb(74, 144, 226);
  }
  .path4:before {
    content: "\e935";
    margin-left: -1em;
    color: rgb(139, 185, 73);
  }
}
.icomoon-health {
  .path1:before {
    content: "\e936";
    color: rgb(139, 185, 73);
  }
  .path2:before {
    content: "\e937";
    margin-left: -1em;
    color: rgb(74, 144, 226);
  }
}
.icomoon-satisfaction {
  .path1:before {
    content: "\e938";
    color: rgb(139, 185, 73);
  }
  .path2:before {
    content: "\e939";
    margin-left: -1em;
    color: rgb(74, 144, 226);
  }
}
.icomoon-followUp {
  .path1:before {
    content: "\e93a";
    color: rgb(74, 144, 226);
  }
  .path2:before {
    content: "\e93b";
    margin-left: -0.875em;
    color: rgb(74, 144, 226);
  }
  .path3:before {
    content: "\e93c";
    margin-left: -0.875em;
    color: rgb(74, 144, 226);
  }
  .path4:before {
    content: "\e93d";
    margin-left: -0.875em;
    color: rgb(139, 185, 73);
  }
  .path5:before {
    content: "\e93e";
    margin-left: -0.875em;
    color: rgb(74, 144, 226);
  }
}
.icomoon-statistics {
  .path1:before {
    content: "\e93f";
    color: rgb(74, 144, 226);
  }
  .path2:before {
    content: "\e940";
    margin-left: -1em;
    color: rgb(139, 185, 73);
  }
}
.icomoon-complain {
  .path1:before {
    content: "\e941";
    color: rgb(74, 144, 226);
  }
  .path2:before {
    content: "\e942";
    margin-left: -1em;
    color: rgb(74, 144, 226);
  }
  .path3:before {
    content: "\e943";
    margin-left: -1em;
    color: rgb(139, 185, 73);
  }
}
.icomoon-system {
  .path1:before {
    content: "\e944";
    color: rgb(74, 144, 226);
  }
  .path2:before {
    content: "\e945";
    margin-left: -1em;
    color: rgb(139, 185, 73);
  }
}
.icomoon-propaganda {
  .path1:before {
    content: "\e946";
    color: rgb(139, 185, 73);
  }
  .path2:before {
    content: "\e947";
    margin-left: -1em;
    color: rgb(139, 185, 73);
  }
  .path3:before {
    content: "\e948";
    margin-left: -1em;
    color: rgb(74, 144, 226);
  }
  .path4:before {
    content: "\e949";
    margin-left: -1em;
    color: rgb(74, 144, 226);
  }
  .path5:before {
    content: "\e94a";
    margin-left: -1em;
    color: rgb(74, 144, 226);
  }
  .path6:before {
    content: "\e94b";
    margin-left: -1em;
    color: rgb(74, 144, 226);
  }
}
.icomoon-appointment {
  .path1:before {
    content: "\e94c";
    color: rgb(74, 144, 226);
  }
  .path2:before {
    content: "\e94d";
    margin-left: -1em;
    color: rgb(74, 144, 226);
  }
  .path3:before {
    content: "\e94e";
    margin-left: -1em;
    color: rgb(139, 185, 73);
  }
  .path4:before {
    content: "\e94f";
    margin-left: -1em;
    color: rgb(74, 144, 226);
  }
}
.icomoon-knowledge {
  .path1:before {
    content: "\e950";
    color: rgb(74, 144, 226);
  }
  .path2:before {
    content: "\e951";
    margin-left: -0.875em;
    color: rgb(74, 144, 226);
  }
  .path3:before {
    content: "\e952";
    margin-left: -0.875em;
    color: rgb(139, 185, 73);
  }
}
.icomoon-forbidden:before {
  content: "\e96b";
}
.icomoon-remind:before {
  content: "\e953";
}
.icomoon-success:before {
  content: "\e954";
}
.icomoon-error:before {
  content: "\e955";
}
.icomoon-danger:before {
  content: "\e956";
}
.icomoon-question:before {
  content: "\e957";
}
.icomoon-phone:before {
  content: "\e958";
}
.icomoon-message:before {
  content: "\e959";
}
.icomoon-monitor:before {
  content: "\e95a";
}
.icomoon-check:before {
  content: "\e95b";
}
.icomoon-suvey:before {
  content: "\e95c";
}
.icomoon-lease:before {
  content: "\e95d";
}
.icomoon-medicalHistory:before {
  content: "\e95e";
}
.icomoon-createArchives:before {
  content: "\e95f";
}
.icomoon-createSpecial:before {
  content: "\e960";
}
.icomoon-record:before {
  content: "\e961";
}
.icomoon-alarmClock:before {
  content: "\e962";
}
.icomoon-followUp2:before {
  content: "\e963";
}
.icomoon-complaint2:before {
  content: "\e964";
}
.icomoon-abnormal:before {
  content: "\e965";
}
.icomoon-period:before {
  content: "\e966";
}
.icomoon-collection:before {
  content: "\e967";
}
.icomoon-add:before {
  content: "\e968";
}
.icomoon-news:before {
  content: "\e969";
}
.icomoon-transfer:before {
  content: "\e96a";
}
.icomoon-enable:before {
  content: "\e96c";
}
.icomoon-puzzle:before {
  content: "\e96d";
}
.icomoon-list:before {
  content: "\e96e";
}
.icomoon-grouping:before {
  content: "\e96f";
}
.icomoon-export:before {
  content: "\e970";
}
.icomoon-lead:before {
  content: "\e971";
}
.icomoon-send:before {
  content: "\e972";
}
.icomoon-back:before {
  content: "\e973";
}
.icomoon-never:before {
  content: "\e974";
}
.icomoon-unusual:before {
  content: "\e975";
}
.icomoon-arrow-right2:before {
  content: "\e976";
}
.icomoon-closed:before {
  content: "\e977";
}
.icomoon-man:before {
  content: "\e978";
}
.icomoon-women:before {
  content: "\e979";
}
.icomoon-telphone:before {
  content: "\e97a";
}
.icomoon-filter:before {
  content: "\e97b";
}
.icomoon-notice:before {
  content: "\e97c";
}
.icomoon-manager:before {
  content: "\e97d";
}
.icomoon-call:before {
  content: "\e97e";
}
.icomoon-customerSever:before {
  content: "\e97f";
}
.icomoon-incomingCall:before {
  content: "\e980";
}
.icomoon-monitor2:before {
  content: "\e981";
}
.icomoon-satisfaction2:before {
  content: "\e982";
}
.icomoon-propaganda2:before {
  content: "\e983";
}
.icomoon-chat:before {
  content: "\e984";
}
.icomoon-hosiptalLevel:before {
  content: "\e985";
}
.icomoon-professional:before {
  content: "\e986";
}
.icomoon-setUp:before {
  content: "\e987";
}
.icomoon-arrow-right1:before {
  content: "\e988";
}
.icomoon-authentication:before {
  content: "\e989";
}
.icomoon-closeUp:before {
  content: "\e98a";
}
.icomoon-quit:before {
  content: "\e98b";
}
.icomoon-noAuthentication:before {
  content: "\e98c";
}
.icomoon-arrow-down:before {
  content: "\e98d";
}
.icomoon-open:before {
  content: "\e98e";
}
.icomoon-edit:before {
  content: "\e900";
}
.icomoon-plus:before {
  content: "\e901";
}
.icomoon-date:before {
  content: "\e902";
}
.icomoon-triangle-down-flat:before {
  content: "\e903";
}
.icomoon-delete:before {
  content: "\e904";
}
.icomoon-delete2:before {
  content: "\e905";
}
.icomoon-triangle-up:before {
  content: "\e906";
}
.icomoon-search:before {
  content: "\e907";
}
.icomoon-triangle-down:before {
  content: "\e908";
}
.icomoon-arrow-right:before {
  content: "\e909";
}
.icomoon-arrow-left:before {
  content: "\e90a";
}
.icomoon-health-education:before {
  content: "\e983";
}
.icomoon-electrocardiogram:before {
  content: "\e92c";
}
.icomoon-airplane:before {
  content: "\e98f";
}
.icomoon-copy:before {
  content: "\e990";
}
.icomoon-share:before {
  content: "\e991";
}
.icomoon-add-circle:before {
  content: "\e992";
}
.icomoon-minus-circle:before {
  content: "\e993";
}
.icomoon-fileSet:before {
  content: "\e995";
}
.icomoon-question:before {
  content: "\e957";
}