<!DOCTYPE html>
<html lang="en">
<head>
    <title>选择科室</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/web-bin/weChat/weChatPublic/css/basic.css">
    <link rel="stylesheet" href="/web-bin/weChat/weChatPublic/css/departSelect/departSelect.css">
</head>
<body>
    <div class="main">
        <!--<input type="hidden" value="47174063-8" id="hospCode">-->
        <div class="header"><div class="hosp_img"><img src="" alt=""></div><div class="hosp_name"><h2 id="hospName"></h2><span style="font-size:14px;" id="hospLocation"></span></div></div>
        <div class="content">
            <textarea id="con_left_temp" style="display: none;">
                <ul>
                    {#foreach $T as Row}
                        <li>{$T.Row.sectionName}</li>
                    {#/for}
                </ul>
            </textarea>
            <textarea id="con_right_temp" style="display: none;">
                <ul>
                    {#foreach $T as Row}
                    <li>{$T.Row.deptName}<input type="hidden" value="{$T.Row.deptCode}"></li>
                    {#/for}
                </ul>
            </textarea>
            <div class="con_left"></div>
            <div class="con_right"></div>
        </div>
    </div>
</body>
<script type="text/javascript" src="/web-bin/resources/jquery/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/web-bin/resources/zepto/zepto.js"></script>
<script type="text/javascript" src="/web-bin/resources/config/config.js"></script>
<script type="text/javascript" src="/web-bin/resources/jTemplates/jquery-jtemplates.js"></script>
<script src="/web-bin/resources/rem/rem.js"></script>
<script type="text/javascript" src="/web-bin/resources/js/jquery.nicescroll.js"></script>
<script type="text/javascript" src="/web-bin/weChat/weChatPublic/js/departSelect/departList.js"></script>
</html>