.wrapper{
    padding: 5px 15px 19px 16px;
    background-color: #fff;
}
.box {
    margin-top: 10px;
    background-color:#fff;
    border-radius:6px;
    box-shadow: 1px 3px 10px rgba(0,0,0,0.23);
}
.box_top {
    line-height:36px;
    font-size:14px;
    background-color:#E494B2;
    border-radius:6px 6px 0 0;
}
.box_top p {
    margin-left:15px;
    height: 36px;
    color: #fff;
}
.box_body{
    padding: 0 15px 15px 15px;
}
.box_body p{
    padding: 8px 0;
    font-size: 14px;
}
.box_content{
    padding: 8px 3px 8px 6px;
    line-height: 26px;
    background-color: #FAF5F7;
    word-wrap: break-word;
}