<!DOCTYPE html>
<html>
  <head>
	<title>门诊病例</title>
	<meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
	<meta http-equiv="description" content="this is my page">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<link rel="stylesheet" type="text/css" href="/web-bin/mobile/medical/patient/css/visit_case.css">
	<script type="text/javascript" src="/web-bin/resources/jquery/jquery-1.8.3.min.js"></script>
  	<script type="text/javascript" src="/web-bin/resources/zepto/zepto.js"></script>
	<script type="text/javascript" src="/web-bin/resources/jTemplates/jquery-jtemplates.js"></script>
	<script type="text/javascript" src="/web-bin/resources/jquery/jquery.mobile-1.3.2.min.js"></script>
	<script type="text/javascript" src="/web-bin/resources/js/jquery.barcode.all.js"></script>
	<script type="text/javascript" src="/web-bin/resources/config/config.js"></script>
	<script type="text/javascript" src="/web-bin/mobile/medical/patient/js/visit_case.js"></script>
  </head>
  <body>
    <div id="mian">
    
    	<div id="top">
	  		<div id="top_in">
	  			<div>
		  			<img alt="" src="/web-bin/mobile/medical/patient/images/white-left.png">
		  			<p>医疗</p>
		  		</div>
		  		<p>门诊病例</p>
	  		</div>
	  	</div>
    	
    	<div id="main_head">
	    	<div id="head_in">
	    		<img alt="" src="/web-bin/resources/images/men.png" id="photo">
	    		<div>
	    			<p id="p1"></p><span id="sp1"></span><span id="sp2"></span>
	    			<p id="p2"></p>
	    			<p id="p3"><span id="sp3"></span></p>
	    		</div>
	    	</div>
    	</div>
    	<div id="main_body">
    		  
	    	<div class="c1" id="message">
	    		<img alt="" src="/web-bin/mobile/medical/patient/images/iconA.png" class="img1">
	    		<div class="c2">
	    			<div class="c3">
	    				<p>就诊信息</p>
	    			</div>
	    			<div id="c4"></div>
	    			<p style="display:none"><textarea id="Template-Info" rows="0" cols="0">
	    			<div class="c4" id="i1">
	    				<p>接诊医生：<span class="doc_name">{$T.docotorName}</span></p>
	    				<p>接诊科室：{$T.deptName}</p>
	    				<p>诊断名称：{$T.diagName}</p>
	    				<p>主诉：{$T.chiefDescr}</p>
	    				<p>既往史：{$T.pastDiseaseHistory}</p>
	    			</div>
	    			</textarea></p>
	    		</div>
	    	</div>
	    	
	    	
	    	<div class="c1" id="fee">
	    		<img alt="" src="/web-bin/mobile/medical/patient/images/iconB.png" class="img1">
	    		<div class="c2">
	    			<div class="c3">
	    				<p><span>费用信息</span></p>
	    			</div>
	    			<div id="block_fee"></div>
	    			<p style="display:none"><textarea id="Template-Fee" rows="0" cols="0">
	    			<div class="c4" id="toCost">
	    				<p id="p4">医保类别：{$T.medicalCategory}<img src="/web-bin/mobile/medical/patient/images/blue.png"></p>
	    				<div id="cost">
	    					<img alt="" src="/web-bin/mobile/medical/patient/images/cost.png">
	    					<div>
	    						<p>总费用</p>
	    						<p>{$T.medicalTotalFee}</p>
	    					</div>
	    					<div>
	    						<p>医保报销费用：{#if $T.medicalFee!=null}{$T.medicalFee}{#else}0{#/if}元</p>
	    						<p>个人现金支付：{$T.selfPaymentFee}元</p>
	    						<p>医院优惠费用：{#if $T.reduceFee!=null}{$T.reduceFee}{#else}0{#/if}元</p>
	    					</div>
	    				</div>
	    			</div>
	    			</textarea></p>
	    		</div>
	    	</div>
	    	
	    	
	    	<div class="c1" id="medicine">
	    		<img alt="" src="/web-bin/mobile/medical/patient/images/iconC.png" class="img1">
	    		<div class="c2">
	    			<div class="c3">
	    				<p>用药信息</p>
	    			</div>
	    			<p style="display:none"><textarea id="Template-List1" rows="0" cols="0">
    				{#foreach $T as Row}
	    			<div class="c4" id="d1">
	    				<div>
	    					<img alt="" src="/web-bin/mobile/medical/patient/images/111.png">
	    					<p>处方类别：{$T.Row.presCategName}</p>
	    				</div>
	    				<div class="medicine_list" id="m{$T.Row$index}">
	    					<div class="toMedicine">
		    					<p>1</p>
		    					<p></p>
		    					<img src="/web-bin/mobile/medical/patient/images/blue.png">
		    				</div>
	    				</div>
	    			</div>
	    			{/for}
	    			</textarea></p>
	    			<div class="s1"></div>
	    			
	    			
	    		</div>
	    	</div>
	    	
	    	<div class="c1" id="examination">
	    		<img alt="" src="/web-bin/mobile/medical/patient/images/iconD.png" class="img1">
	    		<div class="c2">
	    			<div class="c3">
	    				<p><span>检查信息</span></p>
	    			</div>
	    			
	    			<p style="display:none"><textarea id="Template-List2" rows="0" cols="0">
	    			{#foreach $T as Row}
	    			<div class="c4" id="d2">
	    				<div>
	    					<p>检查类型：{$T.Row.examApplyItemName}</p>
		    				<p>检查部位：{$T.Row.operPartName}</p>
		    				<p>申请日期：{$T.Row.applyDate}</p>
	    				</div>
	    				<div class="toExamination">
	    					<p>查看检查报告</p>
	    					<div class="id_examination">{$T.Row.id}</div>
	    				</div>	    				
	    			</div>
	    			{/for}
	    			</textarea></p>
	    			<div class="s2"></div>
	    			
	    		</div>
	    	</div>
	    	
	    	<div class="c1" id="inspect">
	    		<img alt="" src="/web-bin/mobile/medical/patient/images/iconE.png" class="img1">
	    		<div class="c2">
	    			<div class="c3">
	    				<p>检验信息</p>
	    			</div>
	    			
	    			<p style="display:none"><textarea id="Template-List3" rows="0" cols="0">
	    			{#foreach $T as Row}
	    			<div class="c4 inspect" id="">
	    				<div>
	    					<p class="item_name">检验大类：<span>{$T.Row.testApplyItemName}</span></p>
		    				<p class="apply_date">申请日期：<span>{$T.Row.applyDate}</span></p>
		    				<input type="hidden" class="sampling_date" value={$T.Row.samplingDate}>
		    				<input type="hidden" class="sampling_location" value={$T.Row.samplingLocation}>
		    				<input type="hidden" class="take_report_location" value={$T.Row.takeReportLocation}>
		    				<input type="hidden" class="take_report_date" value={$T.Row.takeReportDate}>
	    				</div>
	    				<div>
	    					<!--<div class="bcTarget">{$T.Row.barCodeNo}</div>-->
							<div class="bcTarget_info">
								<img class="bcTarget">
							</div>
	    					<input type="hidden" class="barCodeNo"/>
	    					<p>扫条码打印报告</p>
	    				</div>
	    				<div class="toInspection">
	    					<p>查看检验报告</p>
	    					<div class="id_inspection">{$T.Row.id}</div>
	    				</div>
	    			</div>
	    			{/for}
	    			</textarea></p>
	    			<div class="s3">
	    			    <div id="inspect_data"></div>
	    			    <div id="loading_inspect">
			    	       <img alt="" src="/web-bin/resources/images/loading_1.gif">
			            </div>
	    			</div>
	    			
	    		</div>
	    	</div>
	    	
    	</div>
    </div>
    <div id="line1"></div>
    <div id="line2"></div>
    <div id="loading">
    	<img alt="" src="/web-bin/resources/images/loading_1.gif">
    </div>
  </body>
</html>

