html,body,ul,li,div,a,img,input,p{margin:0;padding:0;}
img{border:0}
ul{list-style: none;}
a{text-decoration: none;}

.ui-loader-default{ display:none}
.ui-mobile-viewport{ border:none;}
.ui-page {padding: 0; margin: 0; outline: 0}

html {
	background-color:#f4f4f4;
}

body {
	font-family:"Microsoft YaHei","Î¢ÈíÑÅºÚ",Arial,Simsun,Helvetica,sans-serif;	
}

#top {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	background-color:#FE6D7E;
	color:#fff;
	text-align:center;
	padding:15px 0;
	z-index:200;
	display:none;
}
#top_in {
	position:relative;
}
#top_in>p {
	font-size:22px;
	line-height:30px;
}
#top_in div {
	position:absolute;
	left:15px;
	line-height:30px;
}
#top_in div p {
	display:inline-block;
	font-size:20px;
	
}
#top div img {
	height:18px;
	position:relative;
	top:2px;
}

#main_head {
	font-size:20px;
	background-color:#fff;
	line-height:45px;
	border-bottom:1px solid #e6e6e6;
	position:fixed;
	top:0px;
	width:100%;
	text-align:center;
	z-index:200;
}

#main_body {
	padding:0px 10px;
	font-size:14px;
	margin-top:55px;
}
.c1 {
	background-color:#fff;
	padding:5px 12px 8px 12px;
	margin-top:10px;
}

.c1 div:first-child {
	border-bottom:1px solid #D9D9D9;
	font-size:17px;
	line-height:45px;
}
.c1 div:last-child {
	
}
table {
	width:100%;
	text-align:center;
	line-height:32px;
}
tr:first-child {
	color:#777;
}
td:nth-child(1) {
	text-align:left;
	width:15%;
}
td:nth-child(2) {
	text-align:left;
	width:25%;
}
td:nth-child(3) {
	text-align:center;
	width:25%;
}
td:last-child {
	text-align:right;
	width:35%;
}