html,body,ul,li,div,a,img,input,p{margin:0;padding:0;}
img{border:0}
ul{list-style: none;}
a{text-decoration: none;}

.ui-loader-default{ display:none}
.ui-mobile-viewport{ border:none;}
.ui-page {padding: 0; margin: 0; outline: 0}

html {
	background-color:#f4f4f4;
}

body {
	font-family:"Microsoft YaHei","΢���ź�",Arial,Simsun,Helvetica,sans-serif;	
}

#top {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	background-color:#FE6D7E;
	color:#fff;
	text-align:center;
	padding:15px 0;
	z-index:200;
	display:none;
}
#top_in {
	position:relative;
}
#top_in>p {
	font-size:22px;
	line-height:30px;
}
#top_in div {
	position:absolute;
	left:15px;
	line-height:30px;
}
#top_in div p {
	display:inline-block;
	font-size:20px;
	
}
#top div img {
	height:18px;
	position:relative;
	top:2px;
}

#main_head {
	font-size:16px;
	background-color:#fff;
	padding-left:14px;
	line-height:45px;
	border-bottom:1px solid #e6e6e6;
	position:fixed;
	top:0px;
	width:100%;
	z-index: 200;
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp:1;
	-webkit-box-orient: vertical;
	word-break:break-all;
}

#main_body {
	padding:55px 10px 10px 10px;
	font-size:14px;
	line-height:20px;
}
#main_body div {
	background-color:#fff;
	margin-top:10px;
	padding:10px 14px;
	box-shadow: 0 2px 1px 0 rgba(0,0,0,0.04);
}
.report_head{
	height:40px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-size: 14px;
	line-height: 40px;
}
.report_head img{
	width:18px;
	height:18px;
	margin-right: 10px;
}
#picUrl{
	position:relative;
	display:none;
}
/*灰色箭头*/
.gray_arrow{
	width:9px;
	height:14px;
	float: right;
	background: url(../../../../resources/images/gray_arrow2x.png) no-repeat;
	background-size: 100% 100%;
	position: absolute;
	top:50%;
	right:10px;
	margin-top:-7px;
}