body{
	background-color:#fff;
}
.div-msg{
	width: 100%;
	height: 10%;	
	margin-bottom: 5px;
}
.msg{
	width: 90%;
	height: 100%;
	float: left;
	line-height: 2;
	padding-left: 10px;
}
.dataTable textarea{
	border-radius:3px;
    height: 100px;
    width: 255px;
}
.dataTable input[type="text"]{
	width:255px;
	border-radius:3px;
}
.div-btn{
	text-align: center;
	margin-top: 50px;
	margin-left:150px;
}